<div id="<%= dom_id comment %>">
  <p>
    <strong>Contenido:</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= comment.user_id %>
  </p>

  <p>
    <strong>Publicación:</strong>
    <%= comment.publication_id %>
  </p>

</div>
