<h1>Editando la publicación</h1>

<%= render "form", publication: @publication %>

<br>

<div>
  <%= link_to "Mostrar esta publicación", @publication, class:"btn btn-dark" %> |
  <%= link_to "Volver a las publicaciones", publications_path, class:"btn btn-dark" %>
</div>

